.page-not-found{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-not-found p{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: grey;
}